html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding: 25px;
}

.img {
    max-width:200px;
    /*float:left*/
}

.datetop {
    float: right;
    font-size: 1.35em;
}

.footer {
    font-size: 1.1em;
}

.nav {
    font-size:1.5em;
}


@media screen and (max-width: 768px) {
    .img {
        max-width: 200px;
        /*float:left*/
    }

    body {
        margin-bottom: 60px;
        padding: 5px;
    }

    .container {
        text-align: center;
    }

    .datetop {
        float: none;
        font-size: 1.35em;
    }

    .navbar-toggler {
        float: none;
        color: black;
        position:fixed;
        top: 20px;

    }

    .nav {
        list-style: none;
        float: none;
        text-align: left;
        color: black;
        position: fixed;
        top: 75px;
        background-color: white;
        border: dashed;
        padding: 5%;
    }

    .nav-item {
        list-style: none;
    }

}